<% stylesheet_link_tag "groups"%>
<div class = "col-md-12">
    <div class = "panel panel-default" id="panel-border-bottom">
	<div class = "panel-body">
	    <h2 class = "text-center"><%= @group.name %> </h2>
	    <p class="text-center"><%= @group.desc %> </p>
	</div>
    </div>
</div>


<div class = "col-md-4">
    <div class = "column">
	<div class = "panel panel-default" id="panel-border-top" >
	    <div class = "panel-heading" id="panel-heading">
		<h4 class = "text-center">Members
		    <div class = "dropdown btn-group">
			<button class= "btn btn-link dropdown-toggle" data-toggle= "dropdown" ><i class = "caret" style = "color:white;"></i></button>
			<ul class = "dropdown-menu">
			    <li><a href = '#' data-toggle="modal" data-target = "#invite_modal">Invite friends</a></li>
			    <li> <%= link_to "Check if group is safe", check_group_groups_path(id: @group) %></li>
			</ul>
		    </div>
		</h4>
		<% if current_user.in_group?(@group) %>
		    <p class = "text-center">
		    </p>
		<% end %>
	    </div>

	    <% if current_user.in_group?(@group) %>
		<div class = "panel-body">
		    <div class = "text-center">
			<%= link_to "Check if group is safe", check_group_groups_path(id: @group.id) %>
		    </div>
		</div>
	    <% end %>
	    <div class="list-group">
		<%= react_component "UsersContainer", 
		    { usersPath: group_members_path(@group) } %>
	    </div>
	</div>
    </div>
    <% if !@results.blank? %>
	<div class = "panel panel-default" id = "panel-border-top">
	    <div class = "panel-heading" id = "panel-heading">
		<h4 class = "text-center">
		    Responses
		</h4>
	    </div>
	    <div class = "panel-body">
		<ul style = "list-style:none;">
		    <% @results.each do |result| %>
			<li> <%= result.receiver.first_name %> <%=result.receiver.last_name %> responded with <%= result.res %> - <i><%= friendly_updated_time result%></i></li>
			<hr>
		    <% end %>
		</ul>
	    </div>
	</div>
<% end %>
    </div>
<div class = "col-md-8">
    <div class = "panel panel-default " id= "panel-border-top">
	<div class = "panel-heading" id="panel-heading">
	    <div class = "dropdown">
		<h4 class = "text-center">Announcements
		    <div class = "dropdown btn-group">
			<button class= "btn btn-link dropdown-toggle" data-toggle= "dropdown" ><i class = "caret"></i></button>
			<ul class = "dropdown-menu">
			    <li><%= link_to "Make an announcement", new_announcement_path(id: @group.id, user: current_user.id)  %></li>
			    <li> <%= link_to "View all", group_announcements_path(@group) %></li>
			</ul>
		    </div>
		</h4>
	    </div>
	</div>
	<div class ="panel-body">
	    <% if @announcements.blank? %>
		<h4 class = "text-center">No announcements</h4>
	    <% else %>
		<%= react_component "AnnouncementContainer",
		    announcementsPath: group_announcements_path(@group) %>
		<p class = "text-center"><%= link_to "View all", group_announcements_path(@group) %></p>
	    <% end %>
	</div>
    </div>
</div>

<div class = "modal fade" role = "dialog" id = "invite_modal">
    <div class = "modal-dialog">
	<div class = "modal-content">
	    <div class = "modal-header">
		<button class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Invite friends</h4>
	    </div>
	    <div class = "modal-body">

		<%= render 'invite' %>
	    </div>
	</div>
    </div>
</div>
