<% stylesheet_link_tag "groups"%>

<div class = "col-md-12">
    <div class = "panel panel-default" id="panel-border-bottom">
	<div class = "panel-body">
	    <h2 class = "text-center"><%= @group.name %> </h2>
	    <p class="text-center"><%= @group.desc %> </p>
	</div>
    </div>
</div>

<div class = "col-md-6">
    <div class = "panel panel-default" id="panel-border-top" >
	<div class = "panel-heading" id="panel-heading">
	    <h4 class = "text-center">Members</h4>
	</div>
	<div class = "panel-body">
	    <% @members.each do |member| %>
		<ul style="list-style:none;">
		    <li>
			<%= member.last_name%>, <%= member.first_name %>
		    </li>
		</ul>
	    <% end %>
	</div>
    </div>
</div>

<div class = "col-md-6">
    <div class = "panel panel-default " id= "panel-border-top">
	<div class = "panel-heading" id="panel-heading">
	    <h4 class = "text-center">Announcements</h4>
	</div>
	<div class ="panel-body">
	    <% if @group.announcements.blank? %>
		<h4 class = "text-center"><i>No announcements</i></h4>
	    <% else %>
		<% @group.announcements.each do |announcement| %>
		    <h4> <%= announcement.title %> </h4>
		    <p> <%= announcement.user.email %> </p>
		    <p> <%= announcement.desc %> </p>
		<% end %>
	    <% end %>
	</div>
    </div>
</div>
