<div class = "col-md-12">
    <div class = "panel panel-default">
	<div class = "panel-body">
	    <h3 class = "text-center"><%= @user.first_name %> <%= @user.last_name %> </h3>
	    <% if !current_user.nil? %>
		<% if @user != current_user %>
		    <% if current_user.friends.include?(@user) %>
			<p class = "text-center"><%= link_to "Check safety", safety_checks_path(receiver_id: @user), method: :post %>
			<%= link_to "Remove friend", friendship_unfriend_path(friendship_id: @user, user_id: current_user), method: :delete%>
		    <% elsif current_user.requests.include?(@user) %>
			<p class = "text-center">Friend request sent </p>
		    <% else %>
			<p class = "text-center"><%= link_to "Add friend", friendships_path(friend_id: @user), method: :post %> </p>
		    <% end %>
		<% end %>
	    <% end %>
	</div>
    </div>
</div>
<div class = "col-md-6">
    <div class = "panel panel-default" id = "panel-border-top">
	<div class = "panel-heading" id = "panel-heading">
	    <h4 class = "text-center">Groups (<%= @user.groups.count %>)</h3>
	</div>
	<% if @user.groups.blank? %>
	    <div class = "panel-body">
		<h4 class = "text-center">
		    User hasn't joined any groups 
		</h4>
	    </div>
	<% else %>
	    <div class = "list-group">
		<%= react_component "GroupsContainer",
		    groupsPath: user_groups_path(@user)%>
	    </div>
	<% end %>
    </div>
</div>
<div class = "col-md-6">
    <div class = "panel panel-default" id = "panel-border-top">
	<div class = "panel-heading" id = "panel-heading">
	    <h4 class ="text-center">Friends (<%= @user.friends.count %>)</h3>
	</div>
	<% if @user.friends.blank? %>
	    <div class = "panel-body">
		<h4 class = "text-center">
		    User hasn't added any friends
		</h4>
	    </div>
	<% else %>
	    <div class = "list-group">
		<%= react_component "UsersContainer",
		    usersPath: friendship_path(@user); %>
	    </div>
	<% end %>	
    </div>
</div>

